/* styles.css */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Set a background color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #0e55a7;
    border-radius: 10px;
    background-color: #fff; /* Set a background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

/* Style for movie poster container */
#moviePosterContainer {
    margin-bottom: 20px; /* Adjust margin to create space between movie poster and guessing area */
}

/* Style for movie poster image */
#moviePoster {
    max-width: 100%; /* Ensure the movie poster fits within its container */
    height: auto; /* Preserve aspect ratio of the movie poster */
    border-radius: 10px; /* Apply border radius to match container */
    border: 1px solid #0e55a7; /* Add border to the movie poster */
}

input[type="text"],
input[type="number"],
button {
    padding: 10px;
    margin: 10px;
    border: none; /* Remove border */
    border-radius: 5px;
    background-color: #b893ad; /* Set a background color */
    color: #fff; /* Set text color */
    font-weight: bold; /* Make text bold */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
    animation-duration: 0.5s; /* Set animation duration */
    animation-fill-mode: forwards; /* Keep the final state of the animation */
}

button:hover {
    background-color: #b893ad; /* Change background color on hover */
    animation-name: buttonHover; /* Apply animation on hover */
}

@keyframes buttonHover {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.1); /* Scale up to 1.1 */
    }
    100% {
        transform: scale(1); /* Return to original scale */
    }
}

.guesses {
    display: flex;
    justify-content: center;
}

.guesses input[type="number"] {
    width: 100px;
}
